.taskList {
  flex: 1;
  min-width: 200px;
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: $sky-50;
    border-radius: 5px;
    border: 1px dashed transparent;
    opacity: 0;
    visibility: hidden;
    @include transition;
  }

  &.canDrop {
    &::before {
      opacity: 1;
      visibility: visible;
      border-color: $gray-300;
    }
  }

  &.isActive {
    &::before {
      border-color: $sky-400;
    }
  }
}
